<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        {%block title%}<title>jQuery UI Autocomplete functionality</title>{%endblock%}
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
            rel = "stylesheet">
        <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <!-- Javascript -->
        <script>
            $(function() {
                $( "#descriptions" ).autocomplete({
                    source: function(request, response){
                        $.getJSON("{{ url_for('test') }}", {consulta:request.term}, response)[0];
            }, minlength:3
                });
            });
        </script>
    </head>
   
    <body>
        <nav>
            <ul>
                <form action="" method="POST" novalidate autocomplete="off"> 
                    {{ form.hidden_tag() }}
                    {{ form.description.label }}
                    {{ form.description }}
                </form>
            </ul>
        </nav>
        {%block content%}
        {%endblock%}
    </body>
</html>