{% extends "base_template.html" %}
{% block title %}Tutorial slug{% endblock %}
{% block content%}
    <script>
    $(function() {
        var available  =  [];
        "{% for row in desc %}"
            available.push("{{row}}")
        "{% endfor %}"
        $( "#descriptions" ).autocomplete({
            source: function(request, response) {
        var results = $.ui.autocomplete.filter(available, request.term);

        response(results.slice(0, 10));
    }, minLength:3
        });
    });
    </script>
    <div>
        {{vals}}
        <form action="" method="POST" novalidate autocomplete="off">
        {{ form.hidden_tag() }}
        <div>
            {{ form.description.label }}
            {{ form.description }}<br>
            <label for="description">Concepto</label>
            <input type="text" id="descriptions" name="description">
            <label for="auto">test</label>
            <input id="auto">
            {% for error in form.description.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {{ form.submit() }}

        </form>
    </div>
{% endblock %}